body {
  background-color: hsl(216, 12%, 8%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
  color: hsl(0, 0%, 100%);
  font-family: "Overpass", sans-serif;
}

.rateContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 23em;
  width: 20em;
  border: none;
  border-radius: 15px;
  padding: 5px;
  margin-top: 200px;
  background-color: hsl(213, 19%, 18%);
}

.RatingIconDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5em;
  width: 2.5em;
  border-radius: 50%;
  background-color: hsl(216, 12%, 54%, 0.5);
  margin: 0 23px 1.5em 1em;
}

.RatingH1 {
  font-size: 1.5rem;
  margin: 0 auto 0 23px;
}

.RatingP {
  padding: 10px 23px 0px;
  font-size: 15px;
  line-height: 1.5em;
  margin: 0;
}

.RatingNumDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.Rating {
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(217, 12%, 63%);
  padding: 0.5em;
  margin: 1.5em 0.6em;
  background-color: hsl(216, 12%, 54%, 0.5);
  border-radius: 50%;
  height: 1.5em;
  width: 1.5em;
  cursor: pointer;
}

.Rating:hover {
  background-color: hsl(25, 97%, 53%);
  color: white;
}

.RatingBtn {
  background-color: hsl(25, 97%, 53%);
  border-radius: 25px;
  border: none;
  width: 80%;
  height: 3em;
  color: white;
  font-size: 0.9rem;
  cursor: pointer;
}

.RatingBtn:hover {
  background-color: white;
  color: hsl(25, 97%, 53%);
}

.activeRate {
  background-color: hsl(217, 12%, 63%);
  color: white;
}

.submitContainer {
  display: none;
  justify-content: center;
  flex-direction: column;
  height: 23em;
  width: 20em;
  border: none;
  border-radius: 15px;
  padding: 5px;
  margin-top: 200px;
  background-color: hsl(213, 19%, 18%);
}

.subImgDiv {
  display: flex;
  justify-content: center;
  margin: 1em 0 0 0;
}

.subH1 {
  display: flex;
  justify-content: center;
  margin: 0;
  font-size: 1.5rem;
}

.subDivP {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 14px;
  margin: auto;
}

.ratePick {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 14px;
  margin: auto;
}

.subPDiv {
  display: flex;
  justify-content: center;
  color: hsl(25, 97%, 53%);
  background-color: hsl(216, 12%, 54%, 0.2);
  border-radius: 25px;
  width: 10em;
  height: 2em;
  margin: 2em auto;
}

.subP {
  display: flex;
  justify-content: center;
  padding: 1em;
  line-height: 1.5em;
  font-size: 15px;
  margin: 0;
  text-align: center;
  font-weight: 100;
}

.attribution {
  position: absolute;
  bottom: 0;
  margin: 3em;
}
